main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h1 {
    color: yellow;
    text-align: center;
    margin-bottom: 20px;
}

#movie-details {
    width: 50%;
    margin-bottom: 20px;
    text-align: center;
    /* Centra el contenido */
}

#movie-details img.movie-poster {
    display: block;
    margin: 10px auto;
    /* Ajusta el margen para una mejor separación */
    max-width: 50%;
    height: auto;
}

.seat-map {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.seat-row {
    display: flex;
    align-items: center;
}

.seat-labels .seat-label {
    width: 30px;
    height: 30px;
    margin: 2px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
}

.seat-label {
    width: 30px;
    height: 30px;
    margin: 2px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
}

.seat {
    width: 30px;
    height: 30px;
    margin: 2px;
}

.seat-free {
    background-color: lightgray;
    cursor: pointer;
}

.seat-selected {
    background-color: yellow;
    cursor: pointer;
}

.seat-occupied {
    background-color: red;
}

.seat-empty {
    background: transparent;
    pointer-events: none;
}


/* Alineación específica para la fila de etiquetas */
.seat-labels .seat-label {
    line-height: 20px;
}

.boton.reservar {
    background-color: #1f1f36;
    color: whitesmoke;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s, transform 0.3s;
}

.boton.reservar:hover {
    background-color: rgb(137, 137, 43);
    transform: scale(1.05);
}

nav.principal {
    display: flex;
    justify-content: flex-start;
    padding: 10px 0;
    background: linear-gradient(to bottom, #0c0926, #1f1f36, #0c0926);
}

.principal ul {
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin: 0;
}

.principal ul li {
    list-style: none;
    margin-right: 700px;
}

.seat-preselected {
    background-color: rgb(243, 243, 148);
    pointer-events: none;
}

#seat-legend {
    margin-top: 20px;
    text-align: center;

}

.legend-item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    font-size: 0.8em;
    margin-bottom: 80px;
    /* Tamaño de letra más pequeño */
}

.legend-item span {
    margin-top: 5px;
    /* Espacio entre el asiento y el texto */
}