
main.contenedor {
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.cines {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.cine {
    background-color: #24243e;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    width: 200px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.cine:hover {
    transform: scale(1.05);
}

.cine img {
    width: 100%;
    height: auto;
}

.cine .descripcion {
    padding: 10px;
    color: whitesmoke;
}

